VITE_ADMIN_EMAIL=
VITE_ADMIN_PASSWORD=
VITE_STAFF_EMAIL=
VITE_STAFF_PASSWORD=

# Firebase Configuration
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_FIRESTORE_DATABASE_ID=(default)
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# Gemini AI API Configuration
GEMINI_API_KEY=

# Backend & App Configuration
APP_URL=http://localhost:3000
PORT=3000
NODE_ENV=production
